body{
  margin: 0px;
  padding: 0 20px;
  
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190822/pngtree-back-to-school-day-linear-white-stick-study-life-sticker-blackboard-image_303822.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardButton{
  margin-top: 15px;
}